.movie-detail-container {
  padding: 20px;
  color: white;
}

.movie-detail {
  display: flex;
  margin-bottom: 20px;
}

.movie-poster img {
  width: 300px; /* Adjust as needed */
  border-radius: 10px;
}

.movie-info {
  margin-left: 20px;
}

.cast-crew {
  margin-top: 20px;
}

.cast-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.cast-member {
  text-align: center;
}

.cast-member img {
  width: 100%;
  border-radius: 5px;
} 